<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean name="productService" class="com.javastudio.tutorial.service.ProductService"/>
    <bean name="serviceCallAspect" class="com.javastudio.tutorial.aspect.ServiceCallAspect"/>
    <bean name="productServiceCallAspect" class="com.javastudio.tutorial.aspect.ProductServiceCallAspect"/>

    <aop:config>
        <aop:pointcut id="serviceCallPointcut" expression="execution(* com.javastudio.tutorial.service.*Service+.*(..))"/>

        <aop:aspect id="loggingAspect" ref="productServiceCallAspect">
            <aop:pointcut id="productServiceCallPointcut" expression="execution(* com.javastudio.tutorial.service.ProductService+.*(..))"/>
            <aop:before method="beforeProductService" pointcut-ref="productServiceCallPointcut"/>
            <aop:after method="afterProductService" pointcut-ref="productServiceCallPointcut"/>
        </aop:aspect>

        <aop:aspect id="accessControlAspect" ref="serviceCallAspect">
            <aop:before method="beforeServiceExecution" pointcut-ref="serviceCallPointcut"/>
            <aop:after method="afterServiceExecution" pointcut-ref="serviceCallPointcut"/>
        </aop:aspect>
    </aop:config>
</beans>