<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean name="productService" class="com.javastudio.tutorial.service.ProductService"/>
    <bean name="serviceCallAspect" class="com.javastudio.tutorial.aspect.ServiceCallAspect"/>

    <aop:config>
        <aop:aspect id="loggingAspect" ref="serviceCallAspect">
            <aop:pointcut id="productService"
                          expression="execution(* com.javastudio.tutorial.service.ProductService+.*(..))"/>
            <aop:before method="beforeProductService" pointcut-ref="productService"/>
            <aop:after method="afterProductService" pointcut-ref="productService"/>
        </aop:aspect>
    </aop:config>
</beans>